:root {
  --transition-duration: 0.2s
}

body {
  padding-top: 8px;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1080px;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 2px #cfcfcf;
  border-radius: 8px;
  padding: 10px 40px;
}

.main {
  padding: 20px 40px;
}

.main__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.main__item {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px 2px #cfcfcf;
  border-radius: 8px;
  padding: 10px 40px;
  width: 100%;
  word-break: break-all;
  user-select: none;
  touch-action: none;
  transition: transform var(--transition-duration);
}

.main__item.is-dragging {
  cursor: grabbing;
  transform: scaleX(1.02);
}